<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>My Information</title>
	<script> 
        var id = ${ID}; 
    </script>
	<link href="/css/lib/bootstrap.css" rel="stylesheet"></script>
	<style type="text/css">
		.show-img{
			width: 249px;
			height: 186px;
		}
		.img-card{
			max-width: 249px;
			min-width: 249px;
			/*height: 186px;*/
		}
		.nav-bar{
			margin-bottom: 30px;
			margin-top: 30px;
		}
		.price-tag{
			/*margin: auto;*/
			border: 2px solid grey;
			border-radius: 5px;
			padding: 2px;
			min-width: 60px;
		}
	</style>
</head>
<head>
<script>
function validateForm(){
var x=document.forms["myForm"]["ItemName"].value;
if (x==null || x==""){
  alert("ItemName cannot be empty");
  return false;
 }
var d=document.forms["myForm"]["Description"].value;
if (d==null || d==""){
  alert("Description cannot be empty");
  return false;
  }
var y=document.forms["myForm"]["Price"].value;
if (y==null || y==""){
  alert("price cannot be empty");
  return false;
  }
var z=document.forms["myForm"]["Length"].value;
if (z==null || z==""){
  alert("length cannot be empty");
  return false;
  }

}
</script>
</head>
<body>

<!-- top title bar -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
		<h3 class="mr-md-auto font-weight-normal">Tenant Direct</h3>
		<nav class="mr-md-3">
		<a class="p-2 text-dark" th:href="@{|/home/${Email}|}">My Homepage</a>
			<a class="p-2 text-dark" th:href="@{|/home/${Email}/my_info|}">My Information</a>
			<a class="p-2 text-dark" th:href="@{|/home/${Email}/my_purchases|}">My Purchases</a>
			<a class="p-2 text-dark" th:href="@{|/home/${Email}/my_listings|}">My Listings</a>
		</nav>
	</div>
	
	
    <div class="itemInfo">
                <h1>Input Item Info Here</h1>
<form name="myForm"  onsubmit="return validateForm()" method="post" enctype="multipart/form-data">

        Item Name : <input type="text" name="ItemName" />
        Description : <input type="text" name="Description" /> 
        Price : <input type="text" name="Price" />
        Auction Length : <input type="text" name="Length" />
        File to upload:</td><td><input type="file" name="file" class="form-control-file">
        <input type="submit" />
    </form>
            </div>



 
    
</body>
</html>
            
</body>
</html>