<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add CSS and JS to Thymeleaf</title>
    <link th:href="@{/css/register_style.css}" rel="stylesheet" />
</head>
<head>
<script>
function validateForm(){
var x=document.forms["myForm"]["email"].value;
var atpos=x.indexOf("@");
var dotpos=x.lastIndexOf(".");
if (x==null || x==""){
  alert("email cannot be empty");
  return false;
 }

else if (atpos<1 || dotpos<atpos+2 || dotpos+2>=x.length){
		alert("please enter a valid email address");
  		return false;
}
var d=document.forms["myForm"]["password"].value;
if (d==null || d==""){
  alert("password cannot be empty");
  return false;
  }
var y=document.forms["myForm"]["FirstName"].value;
if (y==null || y==""){
  alert("firstname cannot be empty");
  return false;
  }
var z=document.forms["myForm"]["LastName"].value;
if (z==null || z==""){
  alert("lastname cannot be empty");
  return false;
  }
var a=document.forms["myForm"]["PhoneNumber"].value;
if (a==null || a==""){
  alert("phonenumber cannot be empty");
  return false;
  }
var b=document.forms["myForm"]["Address"].value;
if (b==null || b==""){
  alert("Address cannot be empty");
  return false;
  }
}
</script>
</head>
<body>
<div class="loginbox">
<form name="myForm"  onsubmit="return validateForm()" method="post">
    <h1>Register Here</h1>
          Email : <input type="text" name="email" />
        Password : <input type="password" name="password" /> 
        FirstName : <input type="text" name="FirstName" />
        LastName : <input type="text" name="LastName" />
    PhoneNumber : <input type="text" name="PhoneNumber" />
    Address : <input type="text" name="Address" />
        <input type="submit" />
    </form>
 </div>
</body>

</html>