<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${email} + '!'" />
    
    <form method="post">
        <input type="submit" name="goingTo" value="My Info">
        <input type="submit" name="goingTo" value="See available item">
        <input type="submit" name="goingTo" value="Sell an item">
    </form>
  



 
    
</body>
</html>