<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><html>
<head>
    <meta charset="utf-8">
    <title>Registration page</title>
    <link rel="stylesheet" href="register_style.css">
</head>
<body>
    <div class="loginbox">
                <h1>Register Here</h1>
                <form>
                    <p>Email address</p>
                    <input type = "text" name="" placeholder="Enter Email">
                    <p>Password</p>
                    <input type="password" name="" placeholder="Enter Password">
                    <p>FirstName</p>
                    <input type="password" name="" placeholder="Enter FirstName">
                    <p>LastName</p>
                    <input type="password" name="" placeholder="Enter LastName">
                    <p>PhoneNumber</p>
                    <input type="password" name="" placeholder="Enter PhoneNumber">
                    <p>Address</p>
                    <input type="password" name="" placeholder="Enter Address">
                    <input type="submit" name="" value="Register">
                </form>
            </div>
</body>

</html>
